$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-fade: #D1C4E9;
$carousel-item-height: 300px;

@mixin zero-margin($pad-up-down, $pad-left-right){
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.row-header{
    @include zero-margin(0px, 0px);
}
.row-content{
    @include zero-margin(50px, 0px);
    min-height: 400px;
    border-bottom: 1px ridge;
}
.footer{
    background-color: $background-fade;
    @include zero-margin(20px, 0px);
}
.jumbotron {
    @include zero-margin(70px, 30px);
    background: $background-light;
    color:floralwhite;
}
address{
    font-size: 80%;
    color: #0f0f0f;
    margin: 0px;
}
body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}
.navbar-inverse{
    background: $background-dark;
}
.tab-content{
    border-left: 1px solid $lt-gray;
    border-bottom: 1px solid $lt-gray;
    border-right: 1px solid $lt-gray;
    padding: 10px;
}
.carousel{
    background: $background-dark;
    .carousel-item{
        height: $carousel-item-height;
    }
    img{
        position: absolute;
        left: 0;
        top: 0;
        width: $carousel-item-height;
    }
}
#carousel-button{
    position: absolute;
    right: 0;
    bottom: 0;
}
.carousel-indicators--round{
    li{
        border-radius: 10px;
        max-width: 10px;
        height: 10px;
        background-color: transparent;
        border: 1px solid #FFF;
        margin: 1px 3px;
    }
}
.carousel-indicators{
    .active{
        max-width: 12px;
        height: 12px;
        background-color: #fff;
        margin: 0px 3px;
    }
}
.modal{
    .modal-header{
        background: $background-dark;
        color: floralwhite;
        button{
            color: floralwhite;
        }
    }
    .modal-body{
        background: $background-fade;
    }
    .modal-footer{
        background: $background-light;
    }
}
